<template>
    <v-container grid-list-md text-md-center>
        <v-subheader>Planos</v-subheader>
        <v-layout row wrap>
            <v-flex md4 v-for="item in items">
                <v-card dark color="secondary">
                    <v-card-title class="title">{{item.name}}</v-card-title>
                    <v-card-text>
                        <p class="text-md-left"> Preço: R$ {{item.price}}</p>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn flat dark @click="setCurrentItem(item)">Clique e veja os combos</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
        <v-subheader v-if="showCombos">Combos</v-subheader>
        <v-layout row wrap v-if="showCombos">
            <v-flex md3 v-for="itemCombo in item.connections">
                <v-card dark color="secondary">
                    <v-card-title>{{itemCombo.from.name}} + {{itemCombo.to.name}}</v-card-title>
                    <v-card-text>
                        <p class="text-md-left"> Preço: R$ {{(itemCombo.to.price)+(itemCombo.from.price)+(itemCombo.price)}}</p>
                    </v-card-text>
                </v-card>
                <v-card dark color="secondary" v-for="itemForward in itemCombo.forward">
                    <v-card-title>{{itemCombo.from.name}} + {{itemForward.from.name}} + {{itemForward.to.name}}</v-card-title>
                    <v-card-text>
                        <p class="text-md-left">
                            Preço: R$ {{(itemCombo.from.price)+(itemForward.to.price)+(itemForward.from.price)+(itemForward.price)+(itemCombo.price)}}
                        </p>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
  export default {
      data () {
          return {
              title: 'List Broadbands',
              items: [],
              item: {},
              showCombos: false
          }
      },
      created () {
          this.axios.get('http://localhost:8000/list-all-broadband').then((response) => {
              this.items = response.data;
          });
      },
      methods: {
          setCurrentItem(item) {
              this.item = item;
              this.showCombos = true;
          }
      }
  }
</script>
