<template>
    <v-container fluid>
        <v-slide-y-transition mode="out-in">
            <v-layout column align-center>
                <img src="@/assets/logo.png" alt="Melhor Plano" class="mb-5">
                <blockquote>
                    Front Teste Melhor Plano
                </blockquote>
            </v-layout>
        </v-slide-y-transition>
    </v-container>
</template>
