<template>
    <v-app id="inspire" dark>
        <v-navigation-drawer
            clipped
            fixed
            v-model="drawer"
            app
        >
            <v-list>
                <v-list-tile @click="goTo('/')">
                    <v-list-tile-action>
                        <v-icon>dashboard</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Home</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            <v-list-tile @click="goTo('/broadbands')">
                <v-list-tile-action>
                    <v-icon>work</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>Broadbands</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar app fixed clipped-left>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>Test Melhor Plano</v-toolbar-title>
        </v-toolbar>
        <v-content>
            <v-container>
                <router-view></router-view>
            </v-container>
        </v-content>
        <v-footer app fixed>
            <span>&copy; 2018</span>
        </v-footer>
    </v-app>
</template>

<script>
export default {
    data: () => ({
        drawer: true
    }),
    methods: {
        goTo (url) {
            this.$router.push(url);
        }
    }
}
</script>
